[submodule "Grove_Chainable_RGB_LED"]
	path = Grove_Chainable_RGB_LED
	url = https://github.com/Seeed-Studio/Grove_Chainable_RGB_LED
[submodule "Grove_LED_Bar"]
	path = Grove_LED_Bar
	url = https://github.com/Seeed-Studio/Grove_LED_Bar
[submodule "Grove_LCD_RGB_Backlight"]
	path = Grove_LCD_RGB_Backlight
	url = https://github.com/Seeed-Studio/Grove_LCD_RGB_Backlight
[submodule "Grove_Ultrasonic_Ranger"]
	path = Grove_Ultrasonic_Ranger
	url = https://github.com/Seeed-Studio/Grove_Ultrasonic_Ranger
[submodule "Grove_BMP280"]
	path = Grove_BMP280
	url = https://github.com/Seeed-Studio/Grove_BMP280
[submodule "Gesture_PAJ7620"]
	path = Gesture_PAJ7620
	url = https://github.com/Seeed-Studio/Gesture_PAJ7620
[submodule "RTC_DS1307"]
	path = RTC_DS1307
	url = https://github.com/Seeed-Studio/RTC_DS1307
